<!-- {% if items_list %}
    <ul>
    {% for item in items_list %}
        <li><a href="{{ item.item_contents.test }}/"> Python Dictionary {{ item.item_contents }} and how to access {{ item.item_contents.test }} and {{item.item_display_text}}</a></li>
    {% endfor %}
    </ul>
    <div>
        <button type="button">
            <a href="https://account.venmo.com/pay?recipients=tazacafe">Venmo</a>
        </button>
    </div>
    <div>
        <button type="button">
            <a href="https://www.instagram.com/taza.de.cafe.la/">Taza Instagram Page</a>
        </button>
    </div>
{% else %}
    <p>No links available.</p>
{% endif %} -->